body {
    background-color: #ffffff;
    font-family:'Arial Narrow', sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    background-color: #F7F7F7;
    border-bottom: 4px solid #2D336B;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
    width: 210px;
    margin-left: 40px;

}

nav ul{
list-style-type: none;
padding: 30px;
display: flex;
margin-right: 40px;
}

nav ul li {
    padding-right: 20px;
}

nav ul li a {
    text-decoration:none;
    font-size:x-large;
    color: #2D336B;
}
nav ul li a:hover{
    color: #2D336B;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color:palevioletred;

}

.logo img:hover{
    transform:scale(.8);
    transition: all .4s ease-in-out;
}
#hero img {
    width: 100%;
}

#about {
    background-image: url(./Asset/background\ putih.avif);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
    padding: 40px;
    background-color: #ffffff;
}

#about h2 {
  margin-top: 50px;
  width: 50%;
  padding-left: 40px;
}
#about p {
  width: 50%;
  padding-left: 40px;
  line-height: 1.7em;
}

#product {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
  }

  #product h2 {
    text-align: center;
    color: #344CB7;
  }
  
  
  .card-product {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }

  #contact {
    width: 100%;
    display: flex;
    padding: 30px;
    border: 1px solid #2D336B;
  }
  .contact-text {
    align-items: center;
    padding-left: 70px;
    width: 50%;
  }
  .contact-text h4 {
    color: #344CB7;
  }
  .contact-text p {
    font-size: xx-large;
  }
  .contact-text button {
    padding: 8px 35px;
    background-color: #b5bfea;
    border: none;
  }
  .contact-text button:hover {
    background-color:#2D336B;
    color: #344CB7;
    box-shadow: 3px 3px 20px #344CB7;
  }

.contact-image {
  width: 50%;
}
.contact-image img {
  width: 60%;
}

footer{
  text-align: center;
  margin-top: 100px;
  padding: 30px;
  background-color: #b5bfea;
}